<div class="d-flex flex-column mb-2 align-items-center">
  <p style="color: green"><%= notice %></p>
  <div class="container">
  <h1 class="text-center">Recipes</h1>

  <div id="recipes" class="d-flex flex-column mb-2">
  <% if @recipes.empty? %>
      <h2>You don't have any recipes yet.</h2>
    <% else %>
    <%= render 'recipe/recipe' %>
    <% end %>
  </div>

  <% if user_signed_in? %>
      <%= link_to "New Recipe", new_user_recipe_path(user_id: current_user)%>
    <% end %>
  </div>
</div>
